<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/vue.min.js"></script>
    <title>Document</title>
</head>
<body>

    
    <div id="app">
        <h1>{{titulo}}</h1>
        <p>{{conteudo}}</p>
        <p>{{lado * lado - lado / 100}}</p>
        <p>{{comprou ? 'Sim ele comprou' : 'Não comprou, compre aqui'}}</p>
        <a :href="href">{{href}}</a>
        <a :href="vendeu ? href : '' ">{{href}}</a>

        <!-- Com uso do IF -->
        <div v-if="comprou">
            <p>Comprou sim</p>
        </div>

        <!-- Com uso do v-model -->
        <div v-show="comprou" :style="{background: cor}">
            aaaa
        </div>
        <input v-model="cor" type="color">
        {{cor}}




    </div>

<script>




  new Vue ({
    el: "#app",
    data: {
        titulo: "Curso de JavaScript e Vue",
        conteudo: "Esse é o conteudo",
        lado: 5,
        comprou: true,
        href: "https://www.origamid.com",
        vendeu: true,
        cor: "#333",
    }

   })

   


</script>

</body>
</html>